    <!-- testimonial section start -->
    <div class="testimonial_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">Testimonial</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial_section_2 layout_padding">
                <h1 class="emrold_text">Emrold Deni</h1>
                <p class="dummy_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial_section_2 layout_padding">
                <h1 class="emrold_text">Emrold Deni</h1>
                <p class="dummy_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial_section_2 layout_padding">
                <h1 class="emrold_text">Emrold Deni</h1>
                <p class="dummy_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-left"><img src="assets/images/left-icon.png"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-right"><img src="assets/images/right-icon.png"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- testimonial section end -->
